<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.LoginMapper">

    <insert id="insertNormalUser" parameterType="model.User"
            useGeneratedKeys="true" keyProperty="id">
        insert into users(username, password, email, nickname, mobile,
        create_date, modify_date) values (#{userName}, #{password},#{email},
          #{nickName}, #{mobile}, now(), now())
    </insert>

    <insert id="insertSnsUser" parameterType="model.SnsUser">
        insert into sns_info(id, sns_id, sns_type, sns_name, sns_profile,
        sns_connect_date) values (#{id}, #{snsId}, #{snsType},
          #{snsName}, #{snsProfile}, now() )
    </insert>

    <select id="selectSnsUserBySnsId" resultMap="userResultMap">
        select a.id, a.username, a.email, a.nickname, a.create_date,
        a.modify_date, a.mobile, b.sns_id, b.sns_type, b.sns_name,
        b.sns_profile, b.sns_connect_date
        from users a, sns_info b
        where a.id = b.id AND b.sns_id = #{snsId}
    </select>

    <select id="selectUserById">
        select id, username, password, email, nickname, mobile from users
        where id = #{id}
    </select>

    <select id="selectUserByUserName">
        select id, username, password, email, nickname, mobile from users
        where username = #{userName}
    </select>

    <resultMap id="userResultMap" type="model.User">
        <id property="id" column="id" />
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="nickname" property="nickName"/>
        <result column="mobile" property="mobile"/>
        <association property="snsUser" javaType="model.SnsUser">
            <id column="id" property="id"/>
            <result column="sns_id" property="snsId"/>
            <result column="sns_type" property="snsType"/>
            <result column="sns_name" property="snsName"/>
            <result column="sns_profile" property="snsProfile"/>
            <result column="sns_connect_date" property="snsConnectDate"/>
        </association>
    </resultMap>

    <update id="createTable">
        DROP TABLE  IF EXISTS "PUBLIC"."USERS";
        DROP TABLE  IF EXISTS "PUBLIC"."SNS_INFO";

        CREATE CACHED TABLE "PUBLIC"."USERS"(
        "ID" INTEGER GENERATED BY DEFAULT AS IDENTITY(START WITH 1) NOT NULL,
        "USERNAME" VARCHAR(50),
        "PASSWORD" VARCHAR(50),
        "EMAIL" VARCHAR(100),
        "NICKNAME" VARCHAR(50),
        "MOBILE" VARCHAR(20),
        "CREATE_DATE" TIMESTAMP,
        "MODIFY_DATE" TIMESTAMP
        );
        CREATE CACHED TABLE "PUBLIC"."SNS_INFO"(
        `ID` INTEGER NOT NULL,
        `SNS_ID` VARCHAR(255) NOT NULL,
        `SNS_TYPE` VARCHAR(10)  NULL,
        `SNS_NAME` VARCHAR(255)  NULL,
        `SNS_PROFILE` VARCHAR(255)  NULL,
        `SNS_CONNECT_DATE` DATETIME  NULL
        );

    </update>
</mapper>