<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.BlogMapper">
    <select id="selectBlog" parameterType="model.Blog" resultType="model.Blog">
        select id, name, category, owner
            ,update_time from Blog where name = #{name,javaType=int} AND name = #{blogName}
    </select>
    <select id="selectBlog2" resultType="model.Blog">
        select id, name, category, owner
        ,update_time ${literal}
    </select>
    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        insert into Blog(name,category,owner,update_time)
        values (#{blogName}, #{category}, #{owner}, #{updateTime})
    </insert>
    <select id="invalidSelectBlog1" resultType="model.Blog">
        select id, name, category, owner
        ,update_time from B#{name}log
    </select>
    <insert id="invalidInsertBlog1" useGeneratedKeys="true" keyProperty="id">
        insert into Blog(name,category,owner,update_time)
        values (#{blogName2}, #{category3}, #{owner4}, #{updateTime5})
    </insert>
    <select id="dynamicSelectBlog" resultType="model.Blog">
        select id, name, category, owner
        ,update_time from Blog
        <where>
            <if test="name.equals('blogName')">
                name = #{name}
            </if>
        </where>
    </select>
    <select id="dynamicSelectContent" resultType="model.Blog">
        SELECT title ,content ,author ,what ,id
        from Content
        <where>
            <if test="mainContent != null">
                id = #{mainContent.id}
            </if>
        </where>
    </select>
</mapper>

